// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.rspec-tree-runner {
  .success { color:green; }
  .success :before { content: ' \25CF'; font-size: 20px; vertical-align: sub; padding: 3px; }

  .plugin-font-base {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-align:center;
  }

  width: 300px;
  height: 100%;
  padding: 5px;
  overflow: scroll;

  h3.tree-view-title {
    text-align: left;
    background: transparent;
    padding-left: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }

  .rspec-tree-runner-tree-view {
      padding: 15px;
      font-family: 'Helvetica Neue', Helvetica;
      font-size: 11px;
      padding-left: 10px;

      .list-tree {
        padding-left: 15px;
      }
  }

  h2 {
    font-size:24px;
    .plugin-font-base;
  }

  h3 {
    font-size:14px;
    .plugin-font-base;
  }

}
